@font-face {
  font-family: 'Baskerville-bold';
  src: url('../public/fonts/Optima/OptimaLTPro-Bold.otf');
}
@font-face {
  font-family: 'Baskerville-Regular';
  src: url('../public/fonts/Optima/OptimaLTPro-Italic.otf');
}